* {
  box-sizing: border-box;
}

.App-header {
  width: 100%;
  height: 80px;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.App-header img {
  height: 100%;
}

.App-main {
  width: 80%;
  height: calc(100vh - 160px);
  margin: 0 auto;
}

h1 {
  margin: 0 0 16px;
}

.App-footer {
  width: 100%;
  height: 80px;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}